$primary: #002c86;

.btn{
  border-radius: 3px;
  background-color: transparent;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  padding: 10px 25px 10px 25px;


  &.rounded{
    border-radius: 20px;
    background: linear-gradient(90deg,#7a43ff 9%, #002c86 100%);
  }
  &.outline{
    color: $primary;
    border: 2px solid $primary;
  }
  &.outline-light{
    color: #ffffff;
    border: 3px solid #ffffff;
  }
  &.filled{
    color: $primary;
    background-color: #ffffff;
  }

  &.full-width {
    width: 100%;
  }

  &:hover{
    transform: translateY(-2px);
  }
}
