<mat-card>
  <mat-card-content>
    <div *ngIf="this.loaded; else loading" class="output">
      <div class="map">
        <google-map width="100%" [center]='this.center'>
          <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options"></map-marker>
          <map-polyline [path]="leg.points" [options]="this.options" *ngFor="let leg of legs">

          </map-polyline>
        </google-map>

      </div>
      <div class="attractions">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="lp">
            <th mat-header-cell *matHeaderCellDef> lp. </th>
            <td mat-cell *matCellDef="let element"> {{ element.position }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>

  </mat-card-content>

</mat-card>
