<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav mat-elevation-z5" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
   <mat-toolbar routerLink="">City Guide</mat-toolbar>
    <mat-nav-list>
      <a (click)="this.onClick('/app')" mat-list-item><mat-icon>find_in_page</mat-icon>Szukaj</a>
      <a (click)="this.onClick('/app/myplans')" mat-list-item><mat-icon>folder_open</mat-icon>Moje plany</a>
      <a (click)="this.onClick('/app/profile')" mat-list-item><mat-icon>face</mat-icon>Profil</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
