<mat-card class="filter-card mat-elevation-z3">

  <mat-card-subtitle>
    Co chcesz zobaczyć?
  </mat-card-subtitle>
  <form [formGroup]="stateForm" (ngSubmit)="onSubmit()">
    <div class="full-width flex-filter">

        <mat-form-field class="city-field">
          <input type="text"
                 placeholder="Miasto"
                 aria-label="Number"
                 matInput
                 formControlName = "city"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let city of filteredOptions | async" [value]="city.name">
              {{ city.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>




      <mat-form-field class="category-field">
        <mat-label>Kategoria</mat-label>
        <mat-select formControlName = "category">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="fab-submit">
        <button type="submit" mat-stroked-button color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>search</mat-icon>
        </button>
      </div>

    </div>
    </form>
</mat-card>
