@import "breakpoints";

.spacer{
  height: 20px;
  width: 100%;
}
.grid{
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;

  @include for-size(S-min){
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-size(M-min){
    grid-template-columns: repeat(3, 1fr);
  }
  @include for-size(L-min){
    grid-template-columns: repeat(5, 1fr);
  }
}

.empty-list{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #3d3e42;
  position: absolute;
  mat-icon{
    font-size: 30px;
    margin-right: 15px;
  }
}
