
@import '~@angular/material/theming';


@include mat-core();

$md-custom: (
    50 : #e1e8f5,
    100 : #b3c5e6,
    200 : #819ed6,
    300 : #4f77c5,
    400 : #2959b8,
    500 : #033cac,
    600 : #0336a5,
    700 : #022e9b,
    800 : #022792,
    900 : #011a82,
    A100 : #afb9ff,
    A200 : #7c8cff,
    A400 : #495fff,
    A700 : #3049ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$city-guide-primary: mat-palette($md-custom);
$city-guide-accent: mat-palette($mat-pink, A200, A100, A400);

$city-guide-warn: mat-palette($mat-red);

$city-guide-theme: mat-light-theme($city-guide-primary, $city-guide-accent, $city-guide-warn);


@include angular-material-theme($city-guide-theme);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.map-container{
  border-radius: 15px 15px 0 0;
}
