
.container{
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto 0 auto;

}
.spacer{
  height: 20px;
  width: 100%;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  .item{
    flex: 1 0 21%;
    margin: 5px;
  }
}
