<app-nav>
  <div class="navbar">
    <app-collection></app-collection>
    <div *ngIf="this.isLoggedIn()" class="current-user">
      <mat-icon>account_circle</mat-icon>
      <div *ngIf="this.currentUser">{{ this.currentUser.username }}</div>
    </div>
    <app-auth-dialog-tools *ngIf="!this.isLoggedIn()" [color]="'#002c86'"></app-auth-dialog-tools>
    <button (click)="logOut()" style="margin-right: 15px;" *ngIf="this.isLoggedIn()" [appNavBtn]="'#002c86'">log
      out</button>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</app-nav>
