<app-nav>
  <div class="navbar">
    <app-collection [elements]="this.elements"></app-collection>
    <div *ngIf="this.isLoggedIn()" class="current-user">
      <mat-icon>account_circle</mat-icon>
      <div *ngIf="this.currentUser">{{ this.currentUser.username }}</div>
    </div>
    <app-dialog-tools *ngIf="!this.isLoggedIn()" [color]="'#002c86'"></app-dialog-tools>
    <button (click)="logOut()" style="margin-right: 15px;" *ngIf="this.isLoggedIn()" [appNavBtn]="'#002c86'">log
      out</button>
  </div>
  <div class="container">
    <app-filter (attractionsChange)="attractionChange($event)"></app-filter>
    <div class="spacer"></div>
    <div class="grid">
      <div class="item" *ngFor="let card of attractions">
        <app-attraction-card [instance]="this.card"
          [isTrending]="this.isTrending">
        </app-attraction-card>
      </div>
    </div>
  </div>
</app-nav>
